<a href="https://colab.research.google.com/github/igde69/sql_hometask/blob/main/sql_hometask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# # Создание БД Students
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = query = """CREATE TABLE Students (
Student_Id INTEGER NOT NULL PRIMARY KEY,
Student_Name TEXT NOT NULL,
School_Id INTEGER NOT NULL
);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Создание БД Students
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO Students (Student_Id , Student_Name , School_Id )
VALUES
('201','Иван', '1'),
('202', 'Пётр', '2'),
('203', 'Анастасия', '3'),
('204', 'Игорь', '4');
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_school_detail(school_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(select_query,(school_id,))
    records = cursor.fetchall() 
    print ("Данные по школе")
    for row in records:
      print ("ID школы: ", row[0])
      print ("Название школы: ", row[1])
      print ("Количество мест: ", row[2])
    close_connection(connection)
  except (Exception, sqlite3.Erorr) as erorr:
    print ("Ошибка в получении данных", erorr)
    
    
def get_students_detail(student_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM Students WHERE Student_Id = ?"""
    cursor.execute(select_query,(student_id,))
    records = cursor.fetchall()
    print ("Данные по студентам")
    
    for row in records:
      print ("ID Студента: ", row[0])
      print ("Имя Студента: ", row[1])
      print ("ID школы: ", row[2])
      
  except (Exception, sqlite3.Erorr) as erorr:
    print ("Ошибка в получении данных", erorr)

print ("Самостоятельная работа №1 по ID получить информацию о школе и студенте.")
get_school_detail(1)
get_students_detail(203)

# output 

# Самостоятельная работа №1 по ID получить информацию о школе и студенте.
# Данные по школе
# ID школы:  1
# Название школы:  Протон
# Количество мест:  200
# Данные по студентам
# ID Студента:  203
# Имя Студента:  Анастасия
# ID школы:  3